{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}"media="screen" title="no title"  charset="utf-8">
<div id="wrap">
	<div id="header">
		<h1>Welcome {{request.session.user.name}}!!!</h1> 
		<a href="{% url 'logout' %}">Logout</a>
		<a href="{% url 'reviewShow' %}">Your Reviews</a>
	</div>

	<h3>Your Profile</h3>
	<ul>
		<li>Name: {{request.session.user.name}}</li>
		<li>Email: {{request.session.user.email}}</li>
		<li>Authenticaion Token: {{request.session.user.auth_token}}</li>
	</ul>
</div>